<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.OrdersDetailDao">
	
	<select id="queryApplayStatus" resultMap="OrdersDetailMap">
		select * from tb_order_detail where user_id = #{arg0} and return_status != 0 limit #{arg1},10;
	</select>
	
	<select id="queryDateAmount" resultType="int">
		select count(*) from tb_order_detail where user_id = #{arg0} and to_days(now()) - to_days(create_time) &lt;= #{arg1};
	</select>
	
	<update id="updateReturn">
		update tb_order_detail set return_status = 1,return_reason = #{arg0} where order_detail_id = #{arg1};
	</update>
	
	<select id="queryMaxId" resultType="int">
		select MAX(order_detail_id) FROM tb_order_detail;
	</select>
	
	<select id="queryAmount" resultType="int" parameterType="int">
		select count(*) from tb_order_detail where user_id = #{id};
	</select>
	
	<select id="queryAmounts" resultType="int" parameterType="int">
		select count(*) from tb_order_detail where user_id = #{arg0} and enable_status = #{arg1};
	</select>
	
	<select id="queryOrders" resultMap="OrdersDetailMap">
		select * from tb_order_detail where user_id = #{arg0} limit #{arg1},5;
	</select>
	
	<select id="queryOrderss" resultMap="OrdersDetailMap">
		select * from tb_order_detail where user_id = #{arg0} and enable_status = #{arg1} limit #{arg2},5;
	</select>
	
	<update id="updatePay" parameterType="int">
		update tb_order_detail set enable_status = 1 where order_detail_id = #{id}
	</update>
	<update id="updateDeliver" parameterType="int">
		update tb_order_detail set enable_status = 2 where order_detail_id = #{id}
	</update>
	<update id="updateReceive" parameterType="int">
		update tb_order_detail set enable_status = 3 where order_detail_id = #{id}
	</update>
	<update id="updateEvalute" parameterType="int">
		update tb_order_detail set enable_status = 4 where order_detail_id = #{id}
	</update>
	
	<select id="queryOrderDetailById" resultMap="OrdersDetailMap" parameterType="int">
		select * from tb_order_detail where order_detail_id = #{id};
	</select>
	
	<select id="queryAllOrders" resultMap="OrdersDetailMap" parameterType="int">
		select * from tb_order_detail where user_id = #{id} limit 0,5;
	</select>
	
	<select id="queryUnPay" resultMap="OrdersDetailMap" parameterType="int">
		select * from tb_order_detail where user_id = #{id} and enable_status = 0 limit 0,5;
	</select>
	
	<select id="queryUnDeliver" resultMap="OrdersDetailMap" parameterType="int">
		select * from tb_order_detail where user_id = #{id} and enable_status = 1 limit 0,5;
	</select>
	
	<select id="queryUnReceive" resultMap="OrdersDetailMap" parameterType="int">
		select * from tb_order_detail where user_id = #{id} and enable_status = 2 limit 0,5;
	</select>
	
	<select id="queryUnEvalute" resultMap="OrdersDetailMap" parameterType="int">
		select * from tb_order_detail where user_id = #{id} and enable_status = 3 limit 0,5;
	</select>
	
	<insert id="addOrdersDetail" parameterType="com.example.mall.entity.OrdersDetail">
		insert into tb_order_detail
		(user_id,user_name,user_phone,user_address,all_amount,all_price,enable_status,return_status,create_time,last_edit_time)
		values
		(#{customer.userId},#{customer.userName},#{customer.phone},#{customer.address},#{amount},#{price},0,0,#{createTime},#{lastEditTime});
	</insert>
	
	<resultMap type="com.example.mall.entity.OrdersDetail" id="OrdersDetailMap">
		<id property="orderDetailId" column="order_detail_id"/>
		<result property="amount" column="all_amount"/>
		<result property="price" column="all_price"/>
		<result property="enableStatus" column="enable_status"/>
		<result property="returnStatus" column="return_status"/>
		<result property="returnReason" column="return_reason"/>
		<result property="createTime" column="create_time"/>
		<result property="lastEditTime" column="last_edit_time"/>
		<collection property="customer" ofType="Customer">
		 	<id property="userId" column="use_id"/>
			<result property="userName" column="user_name"/>
			<result property="password" column="password"/>
			<result property="phone" column="phone"/>
			<result property="address" column="address"/>
			<result property="createTime" column="create_time"/>
			<result property="lastEditTime" column="last_edit_time"/>
		</collection>
	</resultMap>
	
</mapper>