<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.ShoppingCartDao">
	
	<select id="queryShoppingCartsById" resultMap="ShoppingCartMap" parameterType="int">
		select * from tb_cart,tb_product,tb_shop where user_id = #{id};
	</select>
	
	<delete id="deleteShoppingCart" parameterType="int">
		delete from tb_cart where cart_id = #{id};
	</delete>
	
	<insert id="addShoppingCart" parameterType="com.example.mall.entity.ShoppingCart">
		insert into tb_cart(user_id,product_id,product_amount,product_price,checked,create_time,last_edit_time) 
		values 
		(#{customer.userId},#{product.productId},1,#{product.productPrice},0,#{createTime},#{lastEditTime});
	</insert>
	
	<resultMap type="com.example.mall.entity.ShoppingCart" id="ShoppingCartMap">
		<id property="cartId" column="cart_id"/>
		<result property="amount" column="product_amount"/>
		<result property="checked" column="checked"/>
		<result property="createTime" column="create_time"/>
		<result property="lastEditTime" column="last_edit_time"/>
		<result property="price" column="product_price"/>
		<collection property="customer" ofType="Customer">
		 	<id property="userId" column="use_id"/>
			<result property="userName" column="user_name"/>
			<result property="password" column="password"/>
			<result property="phone" column="phone"/>
			<result property="address" column="address"/>
			<result property="enableStatus" column="enable_tatus"/>
			<result property="createTime" column="create_time"/>
			<result property="lastEditTime" column="last_edit_time"/>
		</collection> 
		<collection property="product" ofType="Product">
			<id property="productId" column="product_id"/>
			<result property="productName" column="product_name"/>
			<result property="productDesc" column="product_desc"/>
			<result property="productPrice" column="product_price"/>
			<result property="productCount" column="product_count"/>
			<result property="imgAddr" column="img_addr"/>
		</collection>
		<collection property="shop" ofType="Shop">
			<id property="shopId" column="shop_id"/>
			<result property="shopName" column="shop_name"/>
		</collection>
	</resultMap>
	
</mapper>